secret_key_base: <%= secret_key_base %> 

redis:
  url: redis://localhost:6379/1

database:
  user:
  password:

# OAuth providers for Plus tier social login
oauth:
  google:
    client_id: 
    client_secret: 
  github:
    client_id: 
    client_secret: 
  facebook:
    app_id: 
    app_secret:

rollbar:
  token:
  client_token:

mailgun:
  api_key:

newrelic:
  api_key:

ses:
  user_id:
  access_key:
  server:

aws:
  access_key_id:
  secret_access_key: