secret_key_base: <%= secret_key_base %>

redis:
  url: redis://localhost:6379/1

database:
  user:
  password:

rollbar:
  token:
  client_token:
  
mailgun:
  api_key:
  
newrelic:
  api_key:

ses:
  user_id:
  access_key:
  server:

aws:
  access_key_id:
  secret_access_key: