# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: <%= secret_key_base %>

redis:
  url: redis://localhost:6379/1

database:
  user:
  password:

staging:
  rollbar:
    token:

production:
  rollbar:
    token:
