set :nginx_server_name, "<%= app_prefix.dasherize %>.example.com"
set :rails_env, "production"
set :deploy_to, -> { "/home/#{fetch(:user)}/<%= app_prefix %>/production" }
set :hostname, "example.com"
